.cls-container {
    background-color: #26ae8f !important;
    color: black;
}

.btn-block {
    background-color: #26ae8f !important;
}

.cls-brand a .brand-title {
    opacity: 1 !important;
}

.cls-brand a .brand-icon {
    opacity: 1 !important;
}

.cls-guide{
    position: absolute;
    top: 0;
    right: 20px;
    height: 100px;
    line-height: 100px;
    font-size: 15px;
}
.col-sm-12.cls-container{
    height: auto;
    min-height: 100vh;
}